.container{
    display: block;
    background: #bbd7c8;
    border: 2px solid #b0d0bf;
    padding: 10px;
}
.wrappWork{
    border: 2px solid;
    padding: 1em;
    width: 20%;
}
.ollWorks{
    display: flex;
    justify-content: space-around;
}
span .example{
    margin: 5px;
    overflow: hidden;
}
.example{
    width: 100%;
}
/* -	----- Media Queries ------ */

/* 576-768px .col-sm-*/
@media screen and (max-width: 767.98px) {

}

/* 320-576px .col-*/
@media screen and (max-width: 575.98px) {
.ollWorks{
    flex-direction: column;
    justify-content: center;
}
    .wrappWork{
        width: fit-content;
        margin: 5px;
    }
}
