.container{
    display: block;
    background: #bbd7c8;
    border: 2px solid #b0d0bf;
    padding: 10px;
}
.wrappWork{
    border: 2px solid;
    padding: 1em;
    width: 20%;
}
.ollWorks{
    display: flex;
    justify-content: space-around;
}
span .example{
    margin: 5px;
    overflow: hidden;
}
.example{
    width: 100%;
}
.blend{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blend span{
    /*position: relative;*/
    opacity: 1;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-name: hover;
}
@keyframes  hover{
    0%{opacity: 0; font-size:10px}
    25%{opacity: 0.3; font-size:30px}
    50%{opacity: 0.6; font-size:50px}
    99%{opacity: 1; font-size:98px}
    100%{opacity: 0; font-size:0}
}
.blend p{
    color: #fff;
    /*font-size: 98px;*/
    /* mix-blend-mode: overlay; */
    position: absolute;
    left: 50%;
    top: -55%;
    margin-left: -97px;
}
.blend svg{
    color: #fff;
    /*font-size: 98px;*/
    /* mix-blend-mode: overlay; */
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -49px;
}
/* -	----- Media Queries ------ */

/* 576-768px .col-sm-*/
@media screen and (max-width: 767.98px) {

}

/* 320-576px .col-*/
@media screen and (max-width: 575.98px) {
.ollWorks{
    flex-direction: column;
    justify-content: center;
}
    .wrappWork{
        width: fit-content;
        margin: 5px;
    }
}
