.contacts {
    background: url("./../../image/formBG.jpg") center top/cover;
    border: 2px solid #b0d0bf;
}

.container {
    padding: 10px;
    justify-content: space-around;
}

.wrappSkil {
    border: 2px solid;
    padding: 1em;
    width: 20%;
}

.ollSkils {
    display: flex;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    background: #fff6;
    padding: 38px 20px;
}

.inputWrap {
    border-right: 5px solid #6caebf;
    margin: 6px 0;
    padding: 0 4px 0 0;
    width: 245px;
}

.form input {
    color: #fff;
    background: #6caebf;
    width: 232px;
    line-height: 25px;
    border: 4px solid #6caebf;
}

.form input[type="text"]::-moz-placeholder {
    color: #fff;
}

.form input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}

.form input[type="text"]:-ms-input-placeholder {
    color: #fff;
}

.form input[type="text"]::-ms-input-placeholder {
    color: #fff;
}

.form input[type="text"]::placeholder {
    color: #fff;
}

.btnWrap {
    border-left: 5px solid #fff;
    margin: 6px 0;
    /*padding: 0 5px 0  0;*/
    width: 245px;
}

.form .btn {
    color: #6caebf;
    background: #fff;
    width: 244px;
    line-height: 25px;
    border: 5px solid #fff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.btnWrap:hover {
    border-left: 5px solid #6caebf;
}

.form .btn:hover {
    background: transparent;
    border-color: #6caebf;
}

h4 {
    color: #6caebf;
    font-size: 19px;
}

.textBlock {
    color: white;
    padding: 1em;
    width: 500px;
}

.textBlock p:before {
    display: block;
    width: 25%;
    height: 2px;
    background: #fff;
    content: "";
    margin-bottom: 7px;
}

@media screen and (max-width: 1041.98px) {
    .form, .textBlock {
        width: fit-content;
    }
}
@media screen and (max-width: 767.98px) {
.container{
    flex-direction: column-reverse;
    align-items: center;
}
}
/* 320-576px .col-*/
@media screen and (max-width: 575.98px) {

}
