.fullBlock {
  max-height: 290vh;
}

.item {
  width: 32.33333333%;
  margin: 5px;
  height: auto;
  vertical-align: top;
  //display: inline-flex;
}

.wrapp {

  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
}

.item img {
  width: 100%;
}

@media screen and (max-width: 702.98px){
  .wrap{

  }
}


//npm i node-sass