.dFlex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.carousel {
    width: fit-content;
    margin: 0 auto;
}
.carousel .slide{
    background: transparent;
}
.carousel .slide .legend{
    margin-left: -100px;
    width: 200px;
    height: auto;
}
.itemWork{
    width: 80%;
    margin: 0 auto;
    /*width: 400px!important;*/
}
.carousel.carousel-slider .control-arrow:hover {
    background: transparent;
}