.footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #8F9F9F;
    border-bottom: 2px solid blue;
}
.nav{
    display: flex;
    width: 100%;
}
.nav ul{
    width: 32.33%;
    list-style: none;
}
.nav li a{
    color: #fff;
    text-decoration: none;
}