.header {
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #8F9F9F;
    /*border-bottom: 2px solid blue;*/
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.nav li a:hover{
    border-bottom: 2px solid #fff;
}
.nav ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.logo {
    width: 60px;
    border: 1px solid;
    border-radius: 66px;
    height: 60px;
    /*background: #fff;width: 100px;*/
}

/* -	----- Media Queries ------ */
/*.col-xl-*/
/* 992-1200px  .col-lg- */
@media screen and (max-width: 1199.98px) {

}

/* 768-992px .col-md-*/
@media screen and (max-width: 991.98px) {


}

/* 576-768px .col-sm-*/
@media screen and (max-width: 767.98px) {

}

/* 320-576px .col-*/
@media screen and (max-width: 575.98px) {
.nav {
    display: none;
}
}
