.container{
    display: block;
    background: #bbd7c8;
    border: 2px solid #b0d0bf;
    padding: 10px;
}
.wrappSkil{
    /*border: 2px solid;*/
    padding: 1em;
    margin: 1%;
    width: 20%;
}
.ollSkils{
    display: flex;
    /*justify-content: space-around;*/
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}
.ollSkils div span{
    width: 58px;
    height: 58px;
    margin: 0 auto;
    display: flex;
    background: #bbd7c8;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}
/*.wrappSkil span:first-child{*/
/*    font-size: 30px;*/
/*    transform: rotate(-45deg);*/
/*!*}*!dont work*/
.wrappSkil span svg{
    font-size: 30px;
    transform: rotate(-45deg);
}
@media screen and (max-width: 600.98px) {
    .ollSkils{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.wrappSkil{
    width: 380px;
    margin: 7px 0;
}
}
@media screen and (max-width: 400.98px) {
.wrappSkil{
    width: fit-content;
}
}