.container{
    display: block;
    background: #bbd7c8;
    border: 2px solid #b0d0bf;
    padding: 10px;
}
.wrappSkil{
    /*border: 2px solid;*/
    padding: 1em;
    width: 20%;
}
.ollSkils{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 600.98px) {
    .ollSkils{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.wrappSkil{
    width: 380px;
    margin: 7px 0;
}
}
@media screen and (max-width: 400.98px) {
.wrappSkil{
    width: fit-content;
}
}